.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*customize*/
body{
  background-color: rgb(31, 45, 45);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color:white;
}

.f-navbar{
  overflow: hidden;
  position: fixed; 
  bottom: 0; 
  z-index:10000;
}

.galleryForm{
  --bs-gutter-x : 0;
  overflow: auto;
  height:inherit;

}

.gallery{
  height:99.9vh;
}

.btn_addCard{
  width: 45%;
  font-size : 2vmin;
  text-align: center;
  background: #1f2d2d;
  opacity:0.7;
  color:#81d4fa;
  border-width: 2px;
  border-color: #dee4c3;
  border-style: double;
  height:5vmin;
}

.inputTx_card{
  width: -webkit-fill-available;
  background: center;
  border-color: #dee4c3;
  color:white;
  font-size:2.2vmin;
  height:5vmin;
}

.lbl_val_inputCity{
  font-size: 7pt;
  color: #e2ab45;
}

.lbl_cityDesc{
  font-size: 8pt;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f2d2d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c363f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.weatherCard{
  height : 30%;
}

@media screen and (min-width: 601px) {
  .lbl_cityDesc  {
    font-size: 2vh;
  }
  .lbl_val_inputCity{
  font-size: 1.4vh;
}

}

@media screen and (max-width: 600px) {
  .lbl_cityDesc  {
    font-size: 2vw;
  }
  .lbl_val_inputCity{
  font-size: 1.4vw;
}

}

.btn_remove{
  background:inherit;
  border:none;
  position:absolute;
  right:25%;
  color:#987979;
  font-size:2.5vmin;
}

.div_remove{
  width: auto;
  position:relative;
  height: 2%;
}

.lbl_name{
  font-size:;
}