@import url('https://fonts.googleapis.com/css?family=Raleway');

body {

    background: #fff;
}

.div_weather {
    left: 10%;
    width: 8vh;
    height: 8vh;
    border-radius: 40%;
    z-index: 120;
}

h1 {
    font-family: 'Raleway', sans-serif;
    position: fixed;
    left: 30%;

}

.hot {
    margin-top: 5%;
    left: 10%;
    position: relative;
    background: linear-gradient(to top right, rgba(255, 87, 34, 1) 0%,
        rgba(251, 140, 0, 1) 100%);
    box-shadow: 1px 1px 30px rgba(255, 111, 0, 1);
    
    border-radius: 100%;
}

.sun {
    position: absolute;
    width: 8vh;
    height: 8vh;
    border-radius: 100%;
    background: linear-gradient(to bottom left, rgba(255, 235, 59, 1) 0%,
        rgba(249, 168, 37, 1) 90%);
    box-shadow: 1px 1px 30px rgba(255, 160, 0, 1);
    animation: inex 3s infinite linear;

}

.sunx {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fff;
    opacity: 0.2;
}

.cloudy {
    position: relative;
    background: linear-gradient(to top right, rgba(63, 81, 181, 1) 0%,
        rgba(3, 155, 229, 1) 40%);
    box-shadow: 1px 1px 30px rgba(2, 119, 189, 1);

}

.cloud {
    position: absolute;
    top: 5%;
    left: 70%;
    width: 5vh;
    height: 2vh;
    border-radius: 10px;
    background-color: rgba(129, 212, 250, 1);
    box-shadow: 1px 1px 30px rgba(0, 151, 167, 1);
    animation: move 3s infinite linear;

}

.cloudx {
    position: absolute;
    top: 23%;
    left: 55%;
    width: 4vh;
    height: 1.2vh;
    border-radius: 10px;
    background-color: rgba(129, 212, 250, 1);
    animation: move 3s infinite linear;

}

.stormy {
    margin-top: -5%;
    left: 10%;
    position: relative;
    /*background: linear-gradient(to top right, rgba(117, 117, 117, 1) 0%,*/
        /*rgba(33, 33, 33, 1) 90%);*/
    box-shadow: 1px 1px 30px rgba(33, 33, 33, 1);
}

.stormy li {
    position: absolute;
    list-style: none;
    width: 1vh;
    height: 1vh;
    border-radius: 100%;
    background-color: #777;
    box-shadow: 1px 1px 30px #555;
    animation: snowfall 3s infinite linear;
    opacity: 0;
}

.stormy li:nth-child(1) {
    top: 0%;
    left: 50%;
}

.stormy li:nth-child(2) {
    top: 5%;
    left: 40%;
}

.stormy li:nth-child(3) {
    top: -10%;
    left: 30%;
    animation-delay: 2s;
}

.stormy li:nth-child(4) {
    top: 10%;
    left: 50%;
    animation-delay: 1s;
}

.stormy li:nth-child(5) {
    top: 20%;
    left: 30%;
    animation-delay: 0.5s;
}

.stormy li:nth-child(6) {
    top: 35%;
    left: 20%;
    background-color: #bbb;
    animation-delay: 0.9s;
}


.stormy li:nth-child(7) {

    background-color: #bbb;
    animation-delay: 0.8s;
}

.stormy li:nth-child(8) {

    background-color: #bbb;
    animation-delay: 0.4s;
}

.snowe {
    position: absolute;

    width: 6vh;
    height: 6vh;
    border-radius: 60px;
    background-color: #ddd;


}

.snowex {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 2vh;
    height: 2vh;
    border-radius: 15px;
    background-color: #bbb;

}

.stick {
    position: absolute;
    top: 60%;
    left: 40%;
    width: 3px;
    height: 15px;
    transform: rotate(-45deg);
    background-color: #333;
    z-index: -10;
}

.stick2 {
    position: absolute;
    top: 60%;
    left: 70%;
    width: 3px;
    height: 15px;
    transform: rotate(45deg);
    background-color: #333;
    z-index: -10;
}

.breezy {
    /*margin-top: -2vh;*/
    left: 10%;
    position: relative;
    /*background: linear-gradient(to top right, rgba(156, 204, 101, 1) 0%,
        rgba(38, 198, 218, 1) 50%);
    box-shadow: 1px 1px 30px rgba(38, 198, 218, 1);*/

}

.cloudr {
    z-index: 1000;
    position: absolute;
    width: 15vmin;
    height: 4vh;
    border-radius: 3vh;
    background-color: rgba(96, 125, 139, 1);
    box-shadow: 1pt 1pt 22pt rgba(84, 110, 122, 1);
    animation: flash 1.5s infinite linear;

}


.breezy ul {
    /*margin-bottom: 25%;*/
}

.breezy li {
    position: absolute;
    list-style: none;
    /*width: 1pt;
    height: 3pt;*/
    border-radius: 10%;
    background-color: #eee;
    opacity: 0;
    animation: fall 1.5s infinite linear;
    transform: rotate(25deg);
}

.breezy li:nth-child(1) {

    top: 10%;
    left: 17%;
}

.breezy li:nth-child(2) {
    top: 5%;
    left: 18%;
    animation-delay: 0.1s;
}

.breezy li:nth-child(3) {
    top: 4%;
    left: 23%;
    animation-delay: 0.15s;
}

.breezy li:nth-child(4) {
    top: 2%;
    left: 30%;
    animation-delay: 0.2s;
}

.breezy li:nth-child(5) {
    top: 14%;
    left: 28%;
}

.breezy li:nth-child(6) {
    top: 12%;
    left: 31%;
    animation-delay: 0.22s;
}

.breezy li:nth-child(7) {
    top: 19%;
    left: 19%;
    animation-delay: 0.3s;
}

.night {
    position: relative;
    background: linear-gradient(to bottom right, rgba(63, 81, 181, 1) 0%,
        rgba(171, 71, 188, 1) 70%);
    box-shadow: 1px 1px 30px rgba(81, 45, 168, 1);

}

.moon {
    position: absolute;
    left: 8%;
    width: 8vh;
    height: 8vh;
    border-radius: 100%;
    /*background:rgba(255,241,118 ,1);*/
    background: linear-gradient(to bottom left, rgb(0 0 0) 0%, rgba(255, 241, 118, 1) 90%);
    box-shadow: 1px 1px 30px rgba(224, 224, 224, 1);
}

.spot1 {
    position: absolute;
    width: 1vh;
    height: 1vh;
    border-radius: 100%;
    background-color: #777;
}

.spot2 {
    position: absolute;
    top: 30%;
    left: 49%;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #777;
}

.night li {
    position: absolute;
    list-style: none;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #fff;


    transform: rotate(45deg);
}

.night li:nth-child(1) {

    top: 30%;
    left: 44%;
}

.night li:nth-child(2) {
    top: 35%;
    left: 40%;
}

.night li:nth-child(3) {
    opacity: 0;
    top: 20%;
    left: 38%;
    width: 2px;
    height: 2px;
    animation-delay: 0.6s;

}

.night li:nth-child(4) {
    top: 5%;
    left: 37%;
}

.night li:nth-child(5) {
    opacity: 0;
    top: 10%;
    left: 11%;
    width: 1px;
    height: 2vh;
    animation: meteor 1.8s infinite linear;
}

@keyframes inex {


    50% {
        opacity: 0.4;

    }

    60% {
        opacity: 1;
    }
}

@keyframes move {


    50% {
        transform: translateX(-10px);

    }
}

@keyframes fall {
    10% {
        opacity: 0.8;
    }

    30% {
        opacity: 1;
        transform: translate(-1vmin, 4vmin);

    }

    50% {
        opacity: 1;
        transform: translate(-1vmin, 4vmin);

    }

    100% {
        transform: translate(-2vmin, 12vmin);


    }
}

@keyframes snowfall {
    10% {
        opacity: 0.8;
    }

    50% {
        opacity: 1;
        transform: translate(-1em, 2em);

    }

    100% {
        transform: translate(-2em, 6.5em);


    }
}

@keyframes flash {
    48% {
        background-color: rgba(96, 125, 139, 1);
    }

    50% {
        background-color: #fff;
    }

    55% {
        background-color: rgba(96, 125, 139, 1);
    }

    57% {
        background-color: #fff;
    }
}

@keyframes meteor {

    20% {
        opacity: 1;
    }

    70% {
        left: 5%;
        top: 55%;
        opacity: 0;
    }
}


@media screen and (min-width: 601px) {
    .breezy li {
        width: 0.5vh;
        height: 2vh;
    }

    .cloudr {
        width: 36%;
        height: 5vh;
    }
}

@media screen and (max-width: 600px) {
    .breezy li {
        width: 0.5vw;
        height: 1vw;
    }

    .cloudr {
        width: 55%;
        height: 5vw;
    }
}

.row-weather{
      --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);

}